@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');

body{
  font-family: 'Noto Sans JP', sans-serif;
}

.card-style{
  background-color: #081741;
  color: bisque;
  outline: black;
}

.search-button{
 float: right;
 outline: white 1px;
 background-color: #081741;
 color: bisque;
}

.button:hover{
  color: #081741;
  background-color: beige;
}

.jumbo{
  background-color: #081741;
  color: bisque;
}

h1, h3{
  color: bisque;
 }

.title{
  color: #081741;
  text-align: center;
}

.footer{
  background-color: #081741;
  color: bisque;
  margin: 2px auto 0 auto; 
  padding: 10px 0px 10px 0px;
}

p{
  font-size: medium;
  color: white;
  margin: 0px 0px;
}

a{
  color: white;
}

a:hover {
  color: black;
}

.navbar-dark {
  background-color:#081741;
  color: bisque;
} 

.nav-link{
  font-size: 30px;
}

.movie-card{
  background-color: #081741;
  padding: 4px;
}

.list-group{
  color: #081741;
  background-color: rgb(245, 235, 223);
}

.link-to-search{
  color: #081741;
}

.button{
  outline: white 1px;
  background-color: #081741;
  color: bisque;
}

.spinner-style{
  display: flex;
  justify-content: center;
  align-items: center; 
}

.row{
  justify-content: space-between;
  align-items: center;
}

.row-movie{
  margin: 20px 70px 0px 70px;
  display: flex;
  flex-direction: row;
}

.poster{
  width: 45%;
  /* float: left; */
  margin-right: 20px
}

.detail{
  width: 50%;
  /* float: right; */
  margin-left: 25px;
}

.poster-height{
  height: 32.75rem;
}

.back-button-div{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.back-button{
  background-color: bisque;
  /* color: #081741; */
}

.back-button:hover{
  background-color: bisque;
  /* color: #081741; */
}

@media only screen and (max-width: 1003px) {
  .row-movie{
   display: flex;
   flex-direction: column;
   grid-row: 1 0;
  }
  .detail{
    margin-top: 20px;
    margin-left: 0;
    width: auto;
  }
  .poster-height{
    height: 30rem;
  }
  .poster{
    margin: 0;
    width: auto;
  }
  .title{
    align-content: center;
  }
}

h6{
  font-size: 1.05rem;
  line-height: 1.5rem;
}

@media only screen and (min-width: 1015px){
  .poster-height{
    height: 37.4rem;
  }
}


.error{
  color: crimson;
  margin-bottom: 20px;
}

/* .image{
  height: rem;
} */

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
